


       .careerblockbody{
        background-color:#eee;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
      
       }


       

       .search{
       position: relative;
       box-shadow: 0 0 40px rgba(51, 51, 51, .1);
         
       }

       .search input{

        height: 60px;
        text-indent: 25px;
        border: 2px solid #d6d4d4;


       }


       .search input:focus{

        box-shadow: none;
        border: 2px solid blue;


       }

       .search .fa-search{

        position: absolute;
        top: 20px;
        left: 16px;

       }

       
       @media screen and (max-width:500px) and (min-width:300px){
        .search button{
            position: absolute;
            top: 5px;
            right: 5px;
            height: 50px;
            width: 80px;
            background: blue;
           }
    }
    .careercard{
        margin: 20px;
        box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
        border: none;
        border-radius: 0;
        width: 13rem;
        height: 18em
    }
    @media screen and (max-width:500px) and (min-width:300px){
        .careercard{
         width: 10rem;
         height: 16rem;
        
        }
        .careerrow{
            padding-right: 30px;
            
            }
            .careercol1{
             margin-left: -10px;
            }
            .careercol3{
             margin-left: -10px;
            }
    }