
/*
.carousel-item img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 72vh;
    width: 100%;
}
*/
@media screen and (min-width:700px){
    .carousel-item img{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 75vh;
        width: 100%;
    }
}