
*{
    font-family: "Jost", sans-serif;
}
.headerul li{
    font-weight: 800;
}
.headerul li a{
    margin-right: 50px;
}
.nav-link:hover {
    color: blue;
}

.navbar-brand{
    margin-left: 65px;
}
.dropdown:hover > .dropdown-menu , .dropend:hover > .dropdown-menu{
display: block;
margin-top: .125em;
margin-left: .100em;
}
.social-part{
    margin-left: 160px;
    display: flex;
}

@media screen and (min-width:769px){
    .dropend:hover  .dropdown-menu{
        position: absolute;
        top: 0;
       left: 100%;
    }
    
  
}
@media screen and (max-width:1300px) and (min-width:986px){
    .social-part {
       
        margin-left: 10px;
    }
}
@media screen and (max-width:600px) and (min-width:300px){
    .social-part {
        display: none;
        margin-left: 0px;
    }
    .navbar-brand{
        margin-left: 10px;
    }
   
}
.navbar-toggler{
    border: none;
    color: rgb(18, 18, 143);

}
.navbar-toggler-icon  {
    color: blue;
}



 